# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Jose Daniel Nunes

Objectives:
- Learning languages used in data science
- Use of Jupyter Notebooks
- Naming diferent libraries used in data science
- Coding aritmetic operations
- Usage of coding and markdown cells

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL
4. JAVA
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy
4. Tensorflow
5. Keras
6. Py t

|Data Science Tools|
|------------------|
| Jupyter notebook |
| R Studio         |
| Apache airflow   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
x = 3
y = 4
z = 5
# This a simple arithmetic expression to mutiply then add integers
w=(x*y)+z
print (w)

17

In [12]:
print("Insert the number of minutes you want in hours")
x=int(input())
y=60
# This will convert the minutes into hours
w=x/y
print (w, "hours")

Insert the number of minutes you want in hours

 200

3.3333333333333335 hours